* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    background-color:#363636;
    
}
.container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    margin: 20px;
    padding: 5px;
    background-color: #282828;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #282828;
    box-shadow: 3px 3px 8px 8px #313131;

}
.inputString{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding:10px 0px  20px 0px;
    height: 150px ;
}

.inputString h1 {
    /* background: linear-gradient( 90deg, #9C27B0, #9F294A);
    border-color: white;
    -webkit-background-clip: text; */
    color: 	#00897b;
}

.inputString input{
    /* background: linear-gradient( 90deg, #9C27B0, #9F294A);
    border-color: white;
    -webkit-background-clip: text; */
    
    width: 90%;
    margin: auto;
    background-color: #efebeb;
    text-decoration: none;
    text-align: right;
    border: none;
    color: 	#00897b;
    padding: 0px 10px 0px 10px;
    height: 50px;    
    font-size: 40px;
}

.buttons{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inputClass {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;

     
}
.firstRow{
    
    display: flex;
    width: 100%;
    padding-top: 5px;
    justify-content: space-around;
    
}
.secondRow{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
}
.thirdRow{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
}
.forthRow{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 5px;
}
.lasthRow{
    display: flex;
    width: 100%;
    padding-top: 5px;
    justify-content: space-around;
}

.unique{
    background-color: #00897b;
}

h2 {
    color: #00897b;
}

.qrcode {
    
    margin: 50px;
    padding: 5px;
    background-color: #282828;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #282828;
    box-shadow: 3px 3px 8px 8px #313131;
}

.inputText {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
}

.inputText input{
    
    width: 290px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.inputText button{
    text-decoration: none;
    border: none;
    width: 90px;
    padding: 5px;
    margin-left: 4px;
    background-color: #35bbad;
    border: 2px solid #0b554e;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in-out;

}

.inputText button:hover{
    background-color: #0b554e;
    border: 2px solid #35bbad;
    transform: scale(1.1);
}

.qrimage{
    width: 200px;
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 3s;
}

.qrimage img {
    width: 100%;
    padding: 10px;
}

.qrimage.image {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid black;
}

.error {
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}